@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Quicksand&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  /* font-family: 'Bree Serif', serif; */
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
}

h1 {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Bree Serif', serif;
  margin: 10px 0;
}

h3, h4, h5 {
  font-family: 'Bree Serif', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

.header {
  height: 100vh;
  /* background-image: url('../img/header-top.jpg'); */
  background-color: #012f50;
  color: #fff;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

.header__item {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  grid-column: 4 / 6;
  grid-row: 1;
}
.header__logo img {
  width: 300px;
}

.nav__item img {
  width: 200px;
}

.nav__item {
}

.nav__sobre {
  grid-column: 3;
  grid-row: 3;
}
.nav__cardapio {
  grid-column: 3;
  grid-row: 4;
}
.nav__franquia {
  grid-column: 3;
  grid-row: 5;
}
.nav__delivery {
  grid-column: 3;
  grid-row: 6;
}
.nav__quest {
  grid-column: 3;
  grid-row: 7;
}
.nav__social {
  grid-column: 2;
  grid-row: 2;
}

#godzilla-box {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

#godzilla {
  max-height: 90vh;
  animation: 2s walk infinite;
}

@keyframes walk {
  0% {
    transform: translatey(35px) rotate(-2deg);
  }
  65% {
    transform: translatey(0) rotate(0);
  }
  100% {
    transform: translatey(35px) rotate(-2deg);
  }
}

@media (max-width: 1200px) {
  .nav__sobre {
    grid-column: 2;
  }
  .nav__cardapio {
    grid-column: 2;
  }
  .nav__franquia {
    grid-column: 2;
  }
  .nav__delivery {
    grid-column: 2;
  }
  .nav__quest {
    grid-column: 2;
  }

  #godzilla {
    position: relative;
    left: 100px;
  }
}

@media (max-width: 1000px) {
  #godzilla {
    left: 150px;
  }
  .header__logo {
    grid-column: 2;
  }
}

@media (max-width: 700px) {
  .nav__item img {
    width: 150px;
  }
  #godzilla {
    left: 250px;
  }
}

/*
@keyframes float {
  0% {
    box-shadow: 0 0 25px 25px rgba(150, 240, 250, 0.9);
    transform: translatey(-5px);
  }
  50% {
    box-shadow: 0 0 20px 20px rgba(150, 240, 250, 0.8);
    transform: translatey(5px);
  }
  100% {
    box-shadow: 0 0 25px 25px rgba(150, 240, 250, 0.9);
    transform: translatey(-5px);
  }
}
*/

/* SOBRE */

.sobre {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 120px 10%;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-areas: ". sobre-txt sobre-img .";
  grid-gap: 20px;
  background-color: #041e31;
  color: #fff;
}

.sobre__txt {
  grid-area: sobre-txt;
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 1.1rem;
}

.sobre__album {
  grid-area: sobre-img;
  justify-self: center;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;
  max-width: 100%;
}

.sobre__album-img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: .5s transform;
}

.sobre__album-img img {
  width: 150%;
}

.sobre__album-img:hover {
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .sobre {
    padding: 20px 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sobre-txt";
}

  .sobre__txt {
    padding: 0 5%;
}

  .sobre__album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sobre__album-img {
    flex-basis: 200px;
    height: 200px;
  }
}

/* CARDAPIO */

.cardapio {
  padding: 15px 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(39, 4, 5);
  background-image: url('../img/bgpoke-2.png');
  color: #FFF;
}

.cardapio h2 {
  font-size: 3rem;
}

.cardapio__itens {
  text-align: left;
  display: flex;
  display: none;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

.cardapio__item {
  background-color: #012f50;
  color: #fff;
  display: flex;
  flex-basis: 550px;
  height: 200px;
  font-size: 1rem;
  border-radius: 2px;
  margin: 20px 0;
  overflow: hidden;
}

.cardapio__item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardapio__item__img {
  overflow: hidden;
  flex-basis: 200px;
  position: relative;
}

.cardapio__item__img img {
  height: 100%;
}

.cardapio__item__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  flex-basis: 350px;
}

.cardapio__item__art {
  align-self: flex-end;
  position: relative;
  height: 0;
}

.cardapio__item__art img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cardapio__painel {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.cardapio__painel .btn {
  margin: 0 10px;
}

.cardapio__item-simples {
  width: 400px;
  margin: 10px auto;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "c-s-header c-s-preco" "c-s-desc c-s-desc";
  align-items: end;
  border-bottom: 2px solid #FB555E;
}

.cardapio__item-simples h3 {
  grid-area: c-s-header;
  text-align: left;
}

.cardapio__item-simples h4 {
  grid-area: c-s-preco;
  text-align: right;
}

.cardapio__item-simples p {
  grid-area: c-s-desc;
  text-align: left;
  margin: 0;
}

#cardapio-burgers {
  display: flex;
}

#cardapio-porcoes {
  display: none;
}

#cardapio-bebidas {
  display: none;
}

@media (max-width: 700px) {
  .cardapio__painel {
    margin: 5px;
    flex-wrap: wrap;
  }

  .cardapio__painel .btn {
    margin: 5px;
  }

  .cardapio__item-simples {
    width: auto;
  }
}

/* CONTATO */

.contato {
  padding: 50px 10%;
  display: grid;
  grid-template-columns: .1fr 1fr 1fr .1fr;
  grid-template-areas: ". contato-map contato-txt .";
  grid-gap: 10px;
  background-color: #fff;
  color: rgb(78, 12, 15);
}

.contato-map {
  grid-area: contato-map;
  /* background-image: url('../img/mapa.jpg'); */
  background-position: center;
  min-height: 450px;
}

.contato-map img {
  max-width: 100%;
}

.contato-txt {
  grid-area: contato-txt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bree Serif', serif;
  font-size: 1.1rem;
}

.contato-txt>div {
  display: flex;
  align-items: center;
  margin: 10px;
}

.contato-txt p {
  margin: 0;
}

.contato-txt img {
  margin-right: 10px;
}

@media (max-width: 800px) {
  .contato {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 350px;
    grid-template-areas: "contato-map" "contato-txt";
  }
}

/* FOOTER */

.footer {
  background-color: rgb(39, 4, 5);
  background-image: url('../img/background.jpg');
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 10px;
}

.footer__text {
  flex: 4;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Bree Serif', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text p {
  margin: 0;
  width: 250px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .7);
}

.footer__anchor-top {
  flex: 1;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__anchor-top img {
  background-color: #fff;
  padding: 7px;
  border-radius: 50%;
}

.footer__anchor-top a {
  border-radius: 50%;
}

/* TOOLTIPS */

.tooltipable {
  position: relative;
}

.tooltip {
  pointer-events: none;
  white-space: nowrap;
  z-index: 1;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 0.4rem;
  border-radius: 0.1rem;
  visibility: hidden;
  position: absolute;
  left: 35px;
  top: 0%;
  transform: translateX(0%);
}

.tooltipable:hover .tooltip {
  visibility: visible;
}

/* MODIFIER */

.link-look {
  text-decoration: underline;
  color: #FB555E;
}

.burger-icons {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 20px;
  max-height: 20px;
}

.burger-icon {
  position: relative;
  width: 25px;
  height: 25px;
  margin-bottom: 1px;
  background-color: rgba(0, 0, 0, .6);
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 2px;
}

.icon-phone {
  max-width: 30px;
}

.btn {
  background-color: #FB555E;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Bree Serif', serif;
  font-size: 1.3rem;
  transition: .2s all;
  border: 1px solid #FB555E;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
  background-color: transparent;
}

.separador {
  margin-top: 40px;
}
