@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Quicksand&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  /* font-family: 'Bree Serif', serif; */
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
}

h1 {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Bree Serif', serif;
  margin: 10px 0;
}

h3, h4, h5 {
  font-family: 'Bree Serif', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

.header {
  height: 100vh;
  background-image: url('../img/header-top.jpg');
  background-size: cover;
  display: grid;
  grid-template-rows: 260px 1fr;
  grid-template-areas:
    "header-top"
    "header-main";
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.header_main {
  grid-area: header-main;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_main h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
}

.header_top {
  grid-area: header-top;
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-areas:
    "header-top-menu header-top-logo header-top-info";
  grid-gap: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,0));
  font-family: 'Bree Serif', serif;
}

.header_top_logo {
  grid-area: header-top-logo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.header_top_menu {
  grid-area: header-top-menu;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_logo-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  animation-name: float;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: .5s filter;
  -moz-user-select: none;
  user-select: none;
  outline: none;
}

.header_logo-img:hover {
  filter: brightness(1.2) saturate(2);
}

.header_logo-img:active {
  filter: brightness(.8) saturate(3);
}

.header_top_logo_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.header_logo-goku {
  margin-top: 10px;
}

@keyframes float {
	0% {
		box-shadow: 0 0 25px 25px rgba(150, 240, 250, 0.9);
    transform: translatey(-5px);
	}
	50% {
		box-shadow: 0 0 20px 20px rgba(150, 240, 250, 0.8);
    transform: translatey(5px);
	}
	100% {
		box-shadow: 0 0 25px 25px rgba(150, 240, 250, 0.9);
		transform: translatey(-5px);
	}
}

.header li {
  display: inline-block;
  color: #fff;
  margin: 0 20px;
  transition: .2s color;
}

.header_top_menu li:hover {
  color: #FB555E;
}

.header_top_info li:hover {
  color: #FB555E;
}

.header_top_info {
  grid-area: header-top-info;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* SOBRE */

.sobre {
  padding: 50px 10%;
  display: grid;
  grid-template-columns: 1fr 400px 600px 1fr;
  grid-template-areas:
    ". sobre-txt sobre-img .";
  grid-gap: 20px;
  background-color: #FB555E;
  color: #FFF;
}

.sobre__txt {
  grid-area: sobre-txt;
  text-align: center;
  align-self: center;
  font-size: 1.1rem;
}

.sobre__album {
  grid-area: sobre-img;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;
}

.sobre__album-img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: .5s transform;
}

.sobre__album-img img {
  width: 150%;
}

.sobre__album-img:hover {
  transform: scale(1.2);
}

/* CARDAPIO */

.cardapio {
  padding: 15px 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(41, 4, 5);
  color: #FFF;
}

.cardapio h2 {
  font-size: 3rem;
}

.cardapio__itens {
  text-align: left;
  display: flex;
  display: none;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

.cardapio__item {
  background-color: #FB555E;
  color: #fff;
  display: flex;
  flex-basis: 550px;
  height: 200px;
  font-size: 1rem;
  border-radius: 2px;
  margin: 20px 0;
}

.cardapio__item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardapio__item__img {
  overflow:hidden;
  flex-basis: 200px;
}

.cardapio__item__img img {
  height: 100%;
}

.cardapio__item__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  flex-basis: 350px;
}

.cardapio__item__art {
  align-self: flex-end;
  position: relative;
  height: 0;
}

.cardapio__item__art img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cardapio__painel {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.cardapio__painel .btn {
  margin: 0 10px;
}

.cardapio__item-simples {
  width: 20%;
  margin: 10px auto;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    "c-s-header c-s-preco"
    "c-s-desc c-s-desc";
    align-items: end;
    border-bottom: 2px solid #FB555E;  
}

.cardapio__item-simples h3 {
  grid-area: c-s-header;
  text-align: left;
}

.cardapio__item-simples h4 {
  grid-area: c-s-preco;
  text-align: right;
}

.cardapio__item-simples p {
  grid-area: c-s-desc;
  text-align: left;
  margin: 0;
}

#cardapio-burgers {
  display: none;
}

#cardapio-porcoes {
  display: none;
}

/* MODIFIER */

.icon-phone {
  max-width: 30px;
  position: relative;
  top: 7px;
}

.btn {
  background-color: #FB555E;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Bree Serif', serif;
  font-size: 1.3rem;
  transition: .2s all;
  border: 1px solid #FB555E;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
  background-color: transparent;
}

.separador {
  margin-top: 40px;
}